<h1>My Followers</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <!--<th>Following user</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @follows.each do |follow| %>
      <tr>
        <td><%= follow.user.name %></td>
        <!-- <td><%= follow.following_user_id %></td> -->
        <td><%= link_to 'View Profile', user_path(follow.user), html_options= {} %></td>
        <!-- <td><%= link_to 'Edit', edit_follow_path(follow) %></td> -->
        <td><%= link_to 'Reject', follow, method: :delete, data: { confirm: 'Are you sure that do you want to unfollow ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Follow', new_follow_path %> -->

<%= link_to "Add Followers", unfollowed_index_url %>


<br>
<br>
<%= link_to 'Back', landing_path %>
